{{#> masterpage 
    title="Index"
    styles="<link rel='stylesheet' href='/assets/css/index.css' media='screen'>"
    scripts="<script src='/assets/js/index.min.js'></script>"
    main-script="/assets/js/index.min.js"
}}

<h2>Index</h2>
{{> button }}
{{/ masterpage }}
