{{#> masterpage 
    title="Produto"
    styles="<link rel='stylesheet' href='/assets/css/product.css' media='screen'>"
    scripts="<script src='/assets/js/product.min.js'></script>"
}}

<h2>Produto</h2>
{{> button }}{{> button }}

{{/ masterpage }}