{{#> masterpage 
    title="Home"
    styles="<link rel='stylesheet' href='/assets/css/home.css' media='screen'>"
    scripts="<script src='/assets/js/home.min.js'></script>"
    main-script="/assets/js/home.min.js"
}}

<h2>Home</h2>
{{> button }}
{{/ masterpage }}
