
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Nunjucks Webpack Boilerplate | {{app | capitalize}}</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="shortcut icon" href="/assets/img/favicon.ico">
		<link rel="stylesheet" href="/assets/css/main.css" media="screen">

		{% set app = app or 'home' %}

		{% block head %}
			<link rel="stylesheet" data-href="assets/css{{app}}.css" />
		{% endblock %}
	</head>

	<body data-component="application {{app}}">
		{% block content %}{% endblock %}
		<script type="text/javascript" id="main-script" src="../js/main.js" data-application="../{{app}}/index.js" async defer></script>
	</body>

</html>

