<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title> {{ title }} </title>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
     <link rel="shortcut icon" href="/assets/img/favicon.ico">
	<link rel="stylesheet" href="/assets/css/main.css" media="screen">
	{{#styles}}
	{{{this}}}
	{{/styles}}
</head>
<body>

	{{^header}}
	{{> header }}
	{{/header}}

    {{> @partial-block }}

	{{^footer}}
	{{> footer }}
	{{/footer}}

    <script>var common = { assetsRoot: '/assets' }</script>
    <script defer id="main-script" src="/assets/js/main.min.js"></script>
    {{#scripts}}
    {{{this}}}
    {{/scripts}}

</body>
</html>
